<template name="myform">
<form id="foo">
Your name : <input type="text" id="first" required>
Last name : <input type="text" id="last" required>
<input type="submit" id="submit" >
</form>
</template>
<template name="paragraph">
<button id="slide">Slide me , please</button>
<p id="pp">
{{#each mypersons}}

	{{>oneperson}}
	{{/each}}
</p>
</template>

<template name="oneperson">
The name is {{firstname}} {{lastname}} with an id {{_id}}<br/>
</template>