<template name="main">
 <h3>Hello meteor!</h3>
 <ul>
 <li><a href="./">Home</a></li>
 <li><a href="./excercise4">New Person</a></li>
 <li><a href="./display">Display Everbody</a></li>
 </ul>
 {{>yield}}
 </template>
 
 <template name="notFound">
Error 404 : Not Found
 </template>